h1 {
	text-align: center;
	margin-bottom: 15px
}

* {
	box-sizing: border-box;
}

.row {
	width: 100%;
}

@media (min-width: 992px) {
	.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5,.col-lg-6, .col-lg-7,
	.col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12
	 {
		float: right;
		border: 1px; 
	 }

.col-lg-4 {
	width: 33%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
	.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5,.col-md-6, .col-md-7,
	.col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12
	 {
		float: right;
		border: 1px; 
	 }
	 .col-md-6 {
	 	width: 50%;
	 }
	 .col-md-12 {
	 	width: 100%;
	 }
}

@media (max-width: 767px:) {
	 .col-sm-12
	
	 {
		float: right;
		border: 1px; 
	 }
     
     .col-sm-12 {
     	width: 100%
     }

}


article {
  border: 1px solid black;
  background-color: gray;
  margin: 15px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  display: overflow;

}

section {
  width: 300px;
  height: 100px;
  margin-left: : auto;
  margin-right: auto;
  padding: 15px;
  color: white;

  
}

.chicken {
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  width: 66%;
  height: auto;
  margin: 5px;
  color: #000000;
  background-color: brown;
  padding: 0px;
  text-align: center;
  align-content: center;
  position: relative;
  left: 40px;
}

.beef {
  background-color: #708090;
  color: #000000;
  border: 2px solid black;
  width: 66%;
  height: auto;
  margin: 5px;
  padding: 0px;
  text-align: center;
  align-content: center;
  position: relative;
  left: 40px;
}

.sushi {
  background-color: black;
  color: white;
  border: 2px solid black;
  width: 66%;
  height: auto;
  margin: 5px;
  padding: 0px;
  text-align: center;
  align-content: center;
  position: relative;
  left: 40px;
}
